html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.d{
	width: 360px;
	height: 640px;
	position: absolute;
	background-image: url(../i/pp.jpg);
	margin-left: 114px;
	opacity: 0.2;
	display: none;
}
.i{
	display: inline-block;
	vertical-align: middle;
	background-size: 100% 100%;
}
.i_arrow{
	background-image: url("../i/interface/arrow.png");
	width: 14px;
	height: 14px;
}
.i_settings{
	background-image: url("../i/interface/ellipse.png");
	background-size: 34%;
  	background-repeat: no-repeat;
  	width: 13px;
  	height: 24px;
}
.i_scale{
	background-image: url("../i/interface/scale.png");
	background-repeat: no-repeat;
	width: 19px;
	height: 22px;
	margin-right: 12px;
}
.i_setting-red{
	background-image: url("../i/interface/ellipse-litle.png");
	background-repeat: no-repeat;
	width: 2px;
	height: 15px;
}
.i_equalizer{
	background-image: url("../i/interface/equalizer.png");
	width: 23px;
	height: 21px;
}
.i_shufle{
	background-image: url("../i/interface/shuffle.png");
	width: 23px;
	height: 20px;
}
.i_prev{
	background-image: url("../i/interface/prev.png");
	width: 27px;
	height: 14px;
}
.i_play{
	background-image: url("../i/interface/play.png");
	width: 30px;
	height: 35px;
}
.i_next{
	background-image: url("../i/interface/next.png");
	width: 27px;
	height: 14px;
}
.i_repeat{
	background-image: url("../i/interface/repeat.png");
	width: 23px;
	height: 18px;
}
.i_setting-red_wrap{
	margin-left: 12px;
}
.controller{
	text-align: center;
	margin-top: 35px;
	font-size: 0;
	padding: 0 5%;
}
.controller-btn{
	display: inline-block;
	width: 20%;
}
.state{
	max-width: 360px;
	max-height: 640px;
	margin: 0 auto;
	width: 100%;
	min-height: 640px;
	background-image: url("../i/background.jpg");
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
}
.panel_top{
	font-size: 0;
	text-align: center;
	padding-bottom: 17px;
}
.panel_bg{
	background-image: url("../i/interface/top-panel.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.panel-side{
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin-top: 17px;
}
.panel-side_left{
	text-align: left;
}
.panel-side_right{
	text-align: right;
	display: inline-block;
}
.panel-side-title{
	font-size: 20px;
	font-family: Roboto;
	color: rgba(255, 255, 255, 0.8);
}
.panel-side-tittle-text{
	vertical-align: middle;
	font-weight: 400;
	margin-left: 10px;
}
.panel-side-equalizer{
	margin-right: 51px;
}
.panel-side-settings{
	margin-right: -4px;
}
.playlist-item{
	border: 1px solid rgba(29, 39, 44, 0.5);
	  padding-bottom: 11px;
}
.pl-side_left{
	margin-left: 20px;
  	width: 76%;
  	display: inline-block;
}
.pl-side_right{
	display: inline-block;
	text-align: right;
	vertical-align: top;
	margin-top: 24px;
}
.pl-text_top{
	font-family: Roboto;
	color:  rgba(216, 217, 233, 0.9);
	font-weight: 500;
	font-size: 20px;
	margin: 0 auto;
	padding: 0px;
	margin-top: 20px
}
.pl-time-side_right{
	font-family: Roboto;
	color:  rgba(255, 255, 255, 0.9);
	font-weight: 500;
	font-size: 16px;	
}
.pl-text_botton{
	font-family: Roboto;
	color:  rgba(235, 235, 250, 0.8);
	font-weight: 300;
	font-size: 13px;
	margin: 0px;
	margin-top: 4px;
	padding: 0px;
}
.track{
	text-align: center;
	margin-top: 36px;
}
.track-cover{
	display: block;
	margin: 0 auto;
}
.track-bar{
	font-size: 0;
	margin-right: 46px;
	margin-left: 46px;
	text-align: left;
}
.track-bar-object{
	background-color: #ff5252;
	height: 10px;
	display: inline-block;
}
.track-bar-value-caption{
	font-size: 20px;
	text-align: right;
	margin-top: 4px;
}
.track-bar-value{
	color: rgba(254, 95, 89, 0.9);
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}
.track-albom{
	color:  rgba(235, 235, 250, 0.9);
	font-weight: 300;
	font-family: Roboto;
	font-size: 33px;
	margin: 24px 0 0 0;
}
.track-caption{
	font-family: Roboto;
	color:  #ff5252;
	font-size: 16px;
	margin: 0px;
	margin-top: 7px;
	font-weight: 300;
}
.panel_playlist{
	text-align: center;
}
.top-panel-text{
	font-family: Roboto;
	color:  rgba(255, 255, 255, 0.9);
	font-size: 20px; 
	font-weight: 400;
	margin: 0px auto;
	padding-top: 19px;
}

